---
import Layout from "../../layouts/Layout.astro";
import LeftRight from "../../layouts/LeftRight.astro";
import CheckList from "../../components/Checklist";
import checklist from "../../../public/checklists/kids.json";

const pageEmoji = "🍼";
const pageTitle = "Family trip with little ones";
const pageBgClass = "bg-chk-salmon";
const pageTitleClrClass = "text-chk-cream";
---

<Layout title=`Pakupack | ${pageTitle}`>
  <LeftRight>
    <div slot="left-side" class=`${pageBgClass} flex flex-col items-center`>
      <div class="mt-auto mb-auto py-12 flex flex-col items-center gap-6">
        <span class="text-3xl text-center">{pageEmoji}</span>
        <h1 class=`text-xl md:text-3xl text-center ${pageTitleClrClass}`>
          {pageTitle}
        </h1>
      </div>
    </div>
    <div slot="right-side" class="p-8 overflow-y-auto">
      <CheckList checklist={checklist} client:load />
    </div>
  </LeftRight>
</Layout>
