---
import Header from "../components/Header.astro";
import siteData from "../data/siteData.json";

interface Props {
	title?: string;
  description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title = siteData.title, description = siteData.description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="stylesheet" href="/global.css" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <!-- Open Graph -->
    <meta property="og:site_name" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={siteData.url} />
    <meta property="og:type" content="website">
    <meta property="og:image" content={siteData.image.src} />
    <meta property="og:image:url" content={siteData.image.src} />
    <meta
      property="og:image:secure_url"
      content={siteData.image.src}
    />
    <meta property="og:image:type" content="image/png" />
    <!-- <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" /> -->
    <meta property="og:image:alt" content={siteData.image.alt} />
	</head>
	<body class="min-h-screen overflow-x-hidden flex flex-col">
		<Header />
		<slot />
	</body>
</html>